* {
    box-sizing: border-box;
    padding: 8px;
    margin: 8px;
    border: 1px solid rgba(0, 0, 0, 0.466);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    max-width: 960px;
    margin: auto;
}

nav {
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 48px;
    height: auto;
}

nav ul {
    display: flex;
    list-style-type: none;
}

.hero {
    display: flex;
}

.hero > * {
    flex-basis: 100%;
    flex-grow: 1;
}

.info-cards {
    display: flex;
}

.info-cards > *{
    flex-grow: 1;
    flex-basis: 100%;
}

.cta-box {
    display: flex;
    align-items: center;
}

.cta-content {
    flex-grow: 1;
    flex-basis: 100%;
}

.cta-box button {
    flex-shrink: 0;
}

footer {
    text-align: center;
}